---
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Platillo from '../components/Platillo.astro';

// 1. IMPORTAMOS LA FUNCIÓN MÁGICA
import { getCollection } from 'astro:content';

// 2. PEDIMOS LOS PLATILLOS REALES DEL CMS
// Esto buscará todos los archivos en src/content/platillos
const todosLosPlatillos = await getCollection('platillos');
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Restaurante Demo</title>
  </head>
  <body>

    <Navbar />
    <Hero />

    <main>
      <h2 style="text-align: center; margin: 2rem 0;">Nuestro Menú</h2>
      
      <div class="grilla-menu">
        
        {todosLosPlatillos.map((platillo) => (
          <Platillo 
            titulo={platillo.data.title}
            precio={platillo.data.precio}
            descripcion={platillo.data.descripcion}
            imagen={platillo.data.imagen}
          />
        ))}

      </div>
    </main>

  </body>
</html>

<style>
  body { margin: 0; font-family: sans-serif; background: #f9f9f9; }
  main { max-width: 1000px; margin: 0 auto; padding: 20px; }
  .grilla-menu {
    display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 2rem;
  }
</style>